/*see on minu css fail*/

header nav {
display:flex;
justify-content:flex-end;
}
header .row {
display:flex;
align-items:center;
}
header p {
margin:40px;
font-size:20px;
}
header h1 {
margin-left:25px;
margin-bottom:25px;
}
header p a {
color:#4C4C4C;
}
header p a:hover {
text-decoration: none;
color:#0C0C0C;
}
body .container {
background-color:#DEDEDE;
font-family:'Trebuchet MS', Helvetica, sans-serif;
width:100%;
}
body section .container {
background-color:transparent;
}
.jumbotron {
display:flex;
align-items:center;
background-image:url("https://vuntsq.github.io/kaneel.jpg");
background-size:cover;
height: 500px;
}
#yea,
div h3 {
color:#FFFFFF;
text-shadow:5px 5px 10px black;
}
footer div p {
margin-left:10;
}
#wow {
margin-top:-30;
padding:40 10 30;
background-color:#DEDEDE;
width:100%;
font-size:20px;
}
#sss {
border-top:5px solid;
padding-top:10;
}
