/*see on minu css fail*/

body {
font-family:'Trebuchet MS', Helvetica, sans-serif;
font-weight: 500;
background-color:#DEDEDE;
}
header nav {
display:flex;
justify-content:flex-end;
}
header .row {
display:flex;
align-items:center;
}
header p {
margin:50px;
font-size:20px;
color:#4C4C4C;
}
header h1 {
margin-left:40px;
margin-bottom:20px;
}
header p a:hover {
text-decoration: none;
background-color:#BEBEBE;
}
