/*see on minu css fail*/

header nav {
display:flex;
justify-content:flex-end;
}
header .row {
display:flex;
align-items:center;
}
header p {
margin:40px;
font-size:20px;
}
header h1 {
margin-left:25px;
margin-bottom:25px;
}
header p a {
color:#4C4C4C;
}
header p a:hover {
text-decoration: none;
color:#0C0C0C;
}
header .container,
footer .container {
background-color:#DEDEDE;
font-family:'Trebuchet MS', Helvetica, sans-serif;
}
.jumbotron {
display:flex;
align-items:center;
background-image:url("https://vuntsq.github.io/kaneel.jpg");
background-size:cover;
height: 500px;
text-shadow:0.25px 0.25px 0.25px #000000;
}
